@import 'variable.scss';
@import 'font.scss';


footer{
    .footer-main{
        background:$hbg;
        padding-bottom:43px !important;
        h5{
            color:$light;
            @include ralemed;
            font-size:16px;
            padding-top:80px;
        }
        .footer-logo{
            img{
                padding-top:60px;
                padding-bottom:25px !important
            }
            ul{
                li{
                    color:$light;
                    @include openreg;
                    font-size:14px;
                    line-height:24px;
                    &:first-child{
                        margin-bottom:25px !important;
                    }
                  
                }
            }
        }
        .footer-contact{
            ul{
                margin-top:40px;
                li{
                    margin-bottom:25px !important;
                    &:last-child{
                        margin-bottom:0;
                    }
                    span{
                        display: inline-block;
                        width:22px;
                       i{
                        color:$light !important;
                       }
                    }
                    a{
                        color:$light !important;
                        @include openreg;
                        font-size:14px;
                    }
                }
            }
        }
        .important-links{
            ul{
                margin-top:40px;
                li{
                    margin-bottom:13px !important;
                    &:last-child{
                        margin-bottom:0px;
                    }
                    a{
                        color:$light !important;
                        @include openreg;
                        font-size:14px;
                        @include trans (0.4s);
                        &:hover{
                            color:$brand;
                            padding-left:5px;
                        }
                    }
                }
            }
        }
        .footer-newsletter{
            h5{
                &:last-of-type{
                    margin-top:-52px;
                }
            }
            form{
                margin-top:30px;
                input{
                    @include  openlight;
                    font-size:14px;
                    font-style: italic;
                }
            }
            .social-icon{
                margin-top:32px;
                a{
                    margin-right:25px;
                    &:last-of-type{
                        margin-right:0;
                    }
                    i{
                        width:40px;
                        height:40px;
                        line-height:40px;
                        text-align: center;
                        border:1px solid $light;
                        background:$light;
                        color:$dark;
                        border-radius:50%;
                        @include trans(0.4s);
                        &:hover{
                            transform:scale(1.3);
                            border:1px solid $brand;
                            background:$brand;
                            color:$light;
                        }
                    }
                }
            }
        }
    }
    .footer-copy{
        background:$fbbg;
        .footer-text{
            p{
                color:$light;
                line-height:55px;
                @include openreg;
                font-size: 14px;
            }
            a{
                color:$brand;
                margin-left:4px;
            }
        }
        .copy-img{
            img{
                margin-top:21px;
            }
        }
    }
}
/*======================
 footer css ends
========================*/ 

/*=====================
back to top part starts
=====================*/
.back-to-top {
	position: fixed;
	bottom: 88px;
	right: 17px;
	width: 35px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	background: #de4644;
	cursor: pointer;
	z-index: 99999;
	display: none;
    border-radius:50%;
    i {
        font-size: 15px;
        color:#fff;
        line-height: 30px;
    }
}
/*=====================
back to top part ends
=====================*/