/*=========================
extra small device satrts
==========================*/
@media(max-width:575px){
    /* header part satrts */
    header ul li {
        padding: 0 3px;
    }
    header ul li a{
        line-height: 37px;
    }
    /* header part ends */

    /* navbar part starts */
    .navbar-light .navbar-brand img{
        padding-top:20px;
        padding-bottom:20px !important;
        width:75%;
    }
    .navbar-light .navbar-toggler{
        color: #222222;
        border-color: #de4644;
        margin-right:-10px;
    }
    /* navbar part ends */

    /* cartinfo part starts */
    #cartInfo {
        padding-top: 42px;
        padding-bottom: 37px !important;
    }
    #cartInfo .cart-table  {
        display:none;
    }
    #cartInfo .paybill form {
        margin-bottom: 35px !important;
    }
    /* cartinfo part ends */

    /*  brand part starts */
    #brand {
        padding-bottom: 50px !important;
    }
    #brand .brand-item {
        margin-left: 49px !important;
    }
    /*  brand part ends */

    /* footer part starts */
    footer .footer-main .footer-logo img {
        padding-top: 40px;
        padding-bottom: 20px !important;
    }
    footer .footer-main .important-links ul {
        margin-top: 30px;
    }
    footer .footer-main .footer-logo ul li:first-child {
        margin-bottom: 20px !important;
    }
    footer .footer-main .footer-contact ul li {
        margin-bottom: 18px !important;
    }
    footer .footer-main .footer-newsletter form {
        margin-top: 30px;
        margin-bottom: 35px !important;
    }
    footer .footer-main h5 {
        padding-top: 35px;
    }
    footer .footer-main .footer-newsletter .social-icon a {
        margin-right: 7px;
    }
    footer .footer-main .footer-newsletter .social-icon {
        margin-top: 25px;
    }
    footer .footer-copy{
        padding-top: 10px;
        padding-bottom: 15px !important;
    }
    footer .footer-copy .footer-text p {
        font-size: 13px;
    }
    footer .footer-copy .copy-img img {
        margin-top: -6px;
        margin-right: 55px;
    }
    /* footer part ends */
}
/*=========================
extra small device ends
==========================*/

/*========================
 small device css starts
=========================*/
@media (min-width:576px) and (max-width:767px){
    /* header part satrts */
    header{
        padding-top: 10px;
        padding-bottom: 10px !important; 
    }
    header ul li {
        padding: 0 3px;
    }
    header ul li a{
        line-height: 37px;
    }
    /* header part ends */

    /* navbar part starts */
    .navbar-light .navbar-brand img{
        padding-top:20px;
        padding-bottom:20px !important;
        width:75%;
    }
    .navbar-light .navbar-toggler{
        color: #222222;
        border-color: #de4644;
        margin-right: -25px;
    }
    /* navbar part ends */

    /* cartinfo part starts */
    #cartInfo {
        padding-top: 52px;
        padding-bottom: 47px !important;
    }
    #cartInfo .cart-table table thead th {
        font-size: 13px;
    }
    #cartInfo .cart-table table tbody tr .cart-item .cart-img img {
        width:45px;
    }
    #cartInfo .cart-table table tbody tr .cart-item .cart-text {
        margin-left: 30px;
    }
    #cartInfo .cart-table table tbody tr .cart-item .cart-text h4 {
        font-size: 13px;
    }
    #cartInfo .cart-table table tbody tr .cart-item .cart-text .ratings {
        font-size: 12px;
    }
    #cartInfo .cart-table table tbody tr .cart-item .cart-text h6{
        font-size: 14px;
    }
    #cartInfo .cart-table table tbody tr .num {
        font-size: 15px;
    }
    #cartInfo .cart-table table tbody tr .trash {
        font-size: 18px;
    }
    #cartInfo .paybill h4 {
        font-size: 18px;
    }
    #cartInfo .paybill .pay-item h4 {
        font-size: 18px;
    }
    #cartInfo .paybill .pay-item p {
        font-size: 15px;
    }
    #cartInfo .paybill a {
        font-size: 14px;
    }
    #cartInfo .cart-table table tbody tr .qty .nice-number input {
        height: 36px;
        width: 19px !important;
        font-size: 17px;
    }
    #cartInfo .paybill form {
        margin-bottom: 35px !important;
    }
    /* cartinfo part ends */

    /* footer part starts */
    footer .footer-main .footer-logo img {
        padding-top: 40px;
        padding-bottom: 20px !important;
    }
    footer .footer-main .important-links ul {
        margin-top: 30px;
    }
    footer .footer-main .footer-logo ul li:first-child {
        margin-bottom: 20px !important;
    }
    footer .footer-main .footer-contact ul li {
        margin-bottom: 18px !important;
    }
    footer .footer-main .footer-newsletter form {
        margin-top: 30px;
        margin-bottom: 35px !important;
    }
    footer .footer-main h5 {
        padding-top: 35px;
    }
    footer .footer-main .footer-newsletter .social-icon a {
        margin-right: 7px;
    }
    footer .footer-main .footer-newsletter .social-icon {
        margin-top: 25px;
    }
    footer .footer-copy{
        padding-top: 10px;
        padding-bottom: 15px !important;
    }
    footer .footer-copy .footer-text p {
        font-size: 13px;
    }
    footer .footer-copy .copy-img img {
        margin-top: -102px;
        margin-right: -295px;
        width:100% !important;
    }
    /* footer part ends */
}   
/*========================
 small device css ends
=========================*/

/*========================
 medium device css starts
=========================*/
@media (min-width:768px) and (max-width:991px){
/* header part satrts */
    header ul li {
        padding: 0 9px;
    }
    header ul li a{
        line-height: 37px;
    }
    /* header part ends */

    /* navbar part starts */
    .navbar-light .navbar-brand img{
        padding-top:20px;
        padding-bottom:20px !important;
        width:75%;
    }
    .navbar-light .navbar-toggler{
        color: #222222;
        border-color: #de4644;
        margin-right:-10px;
    }
    /* navbar part ends */

    /* cartinfo part starts */
    #cartInfo {
        padding-top: 62px;
        padding-bottom: 60px !important;
    }
    #cartInfo .cart-table table thead th {
        font-size: 16px;
    }
    #cartInfo .cart-table table tbody tr .cart-item .cart-img img {
        width: 55px;
    }
    #cartInfo .cart-table table tbody tr .cart-item .cart-text {
        margin-left: 35px;
    }
    #cartInfo .cart-table table tbody tr .cart-item .cart-text h4 {
        font-size: 14px;
    }
    #cartInfo .cart-table table tbody tr .cart-item .cart-text .ratings {
        font-size: 14px;
    }
    #cartInfo .cart-table table tbody tr .cart-item .cart-text h6{
        font-size: 15px;
    }
    #cartInfo .cart-table table tbody tr .num {
        font-size: 16px;
    }
    #cartInfo .cart-table table tbody tr .trash {
        font-size: 19px;
    }
    #cartInfo .paybill h4 {
        font-size: 19px;
    }
    #cartInfo .paybill .pay-item h4 {
        font-size: 19px;
    }
    #cartInfo .paybill .pay-item p {
        font-size: 16px;
    }
    #cartInfo .paybill a {
        font-size: 14px;
    }
    #cartInfo .cart-table table tbody tr .qty .nice-number input {
        height: 36px;
        width: 19px !important;
        font-size: 18px;
    }
    #cartInfo .paybill form {
        margin-bottom: 40px !important;
    }
    /* cartinfo part ends */

    /* footer part starts */
    footer .footer-main .footer-logo img {
        padding-top: 40px;
        padding-bottom: 20px !important;
    }
    footer .footer-main .important-links ul {
        margin-top: 30px;
    }
    footer .footer-main .footer-logo ul li:first-child {
        margin-bottom: 20px !important;
    }
    footer .footer-main .footer-contact ul li {
        margin-bottom: 18px !important;
    }
    footer .footer-main .footer-newsletter form {
        margin-top: 30px;
        margin-bottom: 35px !important;
    }
    footer .footer-main h5 {
        padding-top: 35px;
    }
    footer .footer-main .footer-newsletter .social-icon a {
        margin-right: 7px;
    }
    footer .footer-main .footer-newsletter .social-icon {
        margin-top: 25px;
    }
    footer .footer-copy{
        padding-top: 10px;
        padding-bottom: 15px !important;
    }
    footer .footer-copy .footer-text p {
        font-size: 13px;
    }
    footer .footer-copy .copy-img img {
        margin-top: -6px;
        margin-right: 10px;
    }
    /* footer part ends */
}
/*========================
 medium device css ends
=========================*/

/*=====================
large  device starts
=======================*/
@media(min-width:992px) and (max-width:1199px) {
    /* header part satrts */
    header{
        padding-top: 10px;
        padding-bottom: 10px !important; 
    }
    header ul li {
        padding: 0 12px;
    }
    header ul li a{
        line-height: 37px;
    }
    /* header part ends */
    
    /* navbar part starts */
    .navbar-light .navbar-brand img {
        padding-top: 20px;
        padding-bottom: 20px !important;
        width: 90%;
    }
    .navbar-light .navbar-toggler{
        color: #222222;
        border-color: #de4644;
        margin-right: -27px;
    }
    /* navbar part ends */
    
    /* cartinfo part starts */
    #cartInfo {
        padding-top: 72px;
        padding-bottom: 70px !important;
    }
    #cartInfo .cart-table table thead th {
        font-size: 16px;
    }
    #cartInfo .cart-table table tbody tr .cart-item .cart-img img {
        width: 55px;
    }
    #cartInfo .cart-table table tbody tr .cart-item .cart-text {
        margin-left: 35px;
    }
    #cartInfo .cart-table table tbody tr .cart-item .cart-text h4 {
        font-size: 14px;
    }
    #cartInfo .cart-table table tbody tr .cart-item .cart-text .ratings {
        font-size: 14px;
    }
    #cartInfo .cart-table table tbody tr .cart-item .cart-text h6{
        font-size: 14px;
    }
    #cartInfo .cart-table table tbody tr .num {
        font-size: 16px;
    }
    #cartInfo .cart-table table tbody tr .trash {
        font-size: 19px;
    }
    #cartInfo .paybill h4 {
        font-size: 19px;
    }
    #cartInfo .paybill .pay-item h4 {
        font-size: 19px;
    }
    #cartInfo .paybill .pay-item p {
        font-size: 16px;
    }
    #cartInfo .paybill a {
        font-size: 15px;
        margin-right: 0px;
    }
    #cartInfo .cart-table table tbody tr .qty .nice-number input {
        height: 36px;
        width: 19px !important;
        font-size: 18px;
    }
    #cartInfo .paybill form {
        margin-top:10px;
        margin-bottom: 45px !important;
    }
    /* cartinfo part ends */

    /* footer part starts */
    footer .footer-main .footer-logo img {
        padding-top: 40px;
        padding-bottom: 20px !important;
    }
    footer .footer-main .important-links ul {
        margin-top: 30px;
    }
    footer .footer-main .footer-logo ul li:first-child {
        margin-bottom: 20px !important;
    }
    footer .footer-main .footer-contact ul li {
        margin-bottom: 18px !important;
    }
    footer .footer-main .footer-newsletter form {
        margin-top: 30px;
        margin-bottom: 35px !important;
    }
    footer .footer-main h5 {
        padding-top: 35px;
    }
    footer .footer-main .footer-newsletter .social-icon a {
        margin-right: 7px;
    }
    footer .footer-main .footer-newsletter .social-icon {
        margin-top: 25px;
    }
    footer .footer-copy{
        padding-top: 10px;
        padding-bottom: 15px !important;
    }
    footer .footer-copy .footer-text p {
        font-size: 13px;
    }
    footer .footer-copy .copy-img img {
        margin-top: 22px;
        margin-right: 0px;
    }
    /* footer part ends */
}
/*=====================
large  device ends
=======================*/

/*===============================
extra extra large  device starts
=================================*/
@media(min-width:1400px) {
    /* header part satrts */
    header{
        padding-top: 15px;
        padding-bottom: 15px !important; 
    }
    header ul li {
        padding: 0 25px;
    }
    header ul li a{
        line-height: 37px;
    }
    /* header part ends */
    
    /* navbar part starts */
    .navbar-light .navbar-brand img {
        padding-top: 20px;
        padding-bottom: 20px !important;
        width: 100%;
    }
    .navbar-light .navbar-toggler{
        color: #222222;
        border-color: #de4644;
        margin-right: -27px;
    }
    .navbar .cart-info a{
        margin-right: 15px;
    }
    /* navbar part ends */
    
    /* cartinfo part starts */
    #cartInfo {
        padding-top: 82px;
        padding-bottom: 80px !important;
    }
    #cartInfo .cart-table table thead th {
        font-size: 18px;
    }
    #cartInfo .cart-table table tbody tr .cart-item .cart-img img {
        width: 70px;
    }
    #cartInfo .cart-table table tbody tr .cart-item .cart-text {
        margin-left: 50px;
    }
    #cartInfo .cart-table table tbody tr .cart-item .cart-text h4 {
        font-size: 16px;
    }
    #cartInfo .cart-table table tbody tr .cart-item .cart-text .ratings {
        font-size: 14px;
    }
    #cartInfo .cart-table table tbody tr .cart-item .cart-text h6 {
        font-size: 16px;
    }
    #cartInfo .cart-table table tbody tr .num {
        font-size: 17px;
    }
    #cartInfo .cart-table table tbody tr .trash {
        font-size: 20px;
    }
    #cartInfo .paybill h4 {
        font-size: 20px;
    }
    #cartInfo .paybill .pay-item h4 {
        font-size: 20px;
    }
    #cartInfo .paybill .pay-item p {
        font-size: 17px;
    }
    #cartInfo .paybill a {
        font-size: 16px;
        margin-right: 10px;
    }
    #cartInfo .cart-table table tbody tr .qty .nice-number input {
        height: 36px;
        width: 19px !important;
        font-size: 18px;
    }
    #cartInfo .paybill form {
        margin-top:10px;
        margin-bottom: 45px !important;
    }
    /* cartinfo part ends */

    /* footer part starts */
    footer .footer-main .footer-logo img {
        padding-top: 40px;
        padding-bottom: 20px !important;
    }
    footer .footer-main .important-links ul {
        margin-top: 30px;
    }
    footer .footer-main .footer-logo ul li:first-child {
        margin-bottom: 20px !important;
    }
    footer .footer-main .footer-contact ul li {
        margin-bottom: 18px !important;
    }
    footer .footer-main .footer-newsletter form {
        margin-top: 30px;
        margin-bottom: 35px !important;
    }
    footer .footer-main .footer-newsletter form input{
        width: 245px;
    }
    footer .footer-main h5 {
        padding-top: 35px;
    }
    footer .footer-main .footer-newsletter .social-icon a {
        margin-right: 7px;
    }
    footer .footer-main .footer-newsletter .social-icon {
        margin-top: 25px;
    }
    footer .footer-copy{
        padding-top: 10px;
        padding-bottom: 15px !important;
    }
    footer .footer-copy .footer-text p {
        font-size: 13px;
        margin-left: -136px;
    }
    footer .footer-copy .copy-img img {
        margin-top: 19px;
        margin-right: 28px;
    }
    /* footer part ends */
}
/*===============================
extra extra large  device ends
=================================*/