*{
    padding:0;
    margin:0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    vertical-align: middle;
}
/*=====================
   common css ends
======================*/ 

@import 'header.scss';
@import 'navbar.scss';
@import 'banner.scss';
@import 'about.scss';
@import 'product.scss';
@import 'testimonial.scss';
@import 'blog.scss';
@import 'breadcrumb.scss';
@import 'contact.scss';
@import 'cart.scss';
@import 'payment.scss';
@import 'brand.scss';
@import 'footer.scss';
@import 'responsiveindex.scss';
@import 'responsiveabout.scss';
@import 'responsiveproduct.scss';
@import 'responsiveshop.scss';
@import 'responsivecheckout.scss';
@import 'responsivecontact.scss';